NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDNcbtYKWmjFQqMam-1l7QxAN7NW5mDKCA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=chat-app-fa051.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=chat-app-fa051
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=chat-app-fa051.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1074427423456
NEXT_PUBLIC_FIREBASE_APP_ID=1:1074427423456:web:8c8c8c8c8c8c8c8c8c8c8c
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://chat-app-fa051-default-rtdb.firebaseio.com
